.owl-carousel {
  display: flex;
  overflow: hidden;
}

.owl-carousel img {
  width: auto;
  height: 100%;
  border-radius: 15px; /* Optional: Add border-radius for a rounded look */
}

.owl-carousel .item {
  margin-right: 10px; /* Adjust the margin as needed */
  position: relative;
}

.owl-carousel .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
